m-tooltip {
  display: inline-block;
  cursor: pointer;

  .m-tooltip--anchored {
    position: relative;
  }
}

.m-tooltip--bubble {
  position: absolute;
  font-size: 13px;
  padding: 12px;
  border-radius: 3px;
  z-index: 999;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.4px;
  max-width: 220px;
  line-height: 18px;
  white-space: normal;
  text-align: left;
  text-transform: none;
  @include m-theme(){
    color: themed($m-white);
    background-color: rgba(themed($m-black), 0.9)
  }

  &.m-tooltip--bubble--anchor-bottom {
    bottom: 24px;
  }

  &.m-tooltip--bubble--anchor-left {
    left: 0;
    right: auto;
    width: 220px;
  }

  &.m-tooltip--bubble--anchor-right {
    left: auto;
    right: 0;
    width: 220px;
  }
}
