@import "defaults";

.m-rewards--marketing-header{
  background: url('<%= APP_CDN %>/assets/photos/galaxy.jpg');
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 224px 36px;
  box-sizing: border-box;
  position:relative;

  @media only screen and (max-width: 400px) {
    padding:110px 0;
  }

  h1, h3{
    font-family: 'Roboto';

    @include m-theme(){
      color: themed($m-white);
      text-shadow: 0 0 3px themed($m-grey-900);
    }
    @media only screen and (max-width: 400px) {
      margin:0;
    }
    z-index:1;
  }

  h1{
    word-spacing: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;

    @media only screen and (max-width: 400px) {
      font-size:30px;
    }
  }
  h3{
    letter-spacing: 2px;
    word-spacing:3px;
    font-weight:300;

    @media only screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .m-rewards--marketing-action-button{
    margin-bottom: -80px;
    margin-top: 32px;
    button {
      letter-spacing: 3px;
      font-size: 18px;
      line-height: 35px;
      height: 53px;
      padding: 0 24px;
      font-weight: 300;
      font-family: 'Roboto';
      @include m-theme(){
        color: themed($m-white);
      }
    }
    z-index:2;
  }

  .m-rewards--overlay{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    @include m-theme(){
      background: rgba(themed($m-black), 0.15);
    }
  }
}


.m-rewards--rewards {
  max-width: 990px;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 4px;
  }

  > div {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 24px 12px;

    i {
      font-size: 46px;
    }
    label {
      padding-top: 8px;
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: 1.25px;
      font-family: 'Roboto';
    }
  }
}

.m-rewards--form {
  max-width: 990px;
  margin: 32px auto;
  text-align: center;


  .mdl-cell {
    text-align: left;
    display: flex;
    align-items: center;

    label {
      display: block;
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: 1.25px;
      font-family: 'Roboto';
      padding: 8px;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }

  textarea {
    padding: 16px;
    width: 100%;
    @include m-theme(){
       border: 1px solid themed($m-grey-50);
    }
  }

  select {
    padding: 8px;
    /* -webkit-appearance: none; */
    font-size: 16px;
    margin-left: 8px;
  }

  button {
    padding: 8px 16px;
    max-height: none;
    height: auto;
    font-family: 'Roboto';
    letter-spacing: 2.5px;
    font-size: 16px;
    margin: 16px;
    @include m-theme(){
      color: themed($m-white) !important;
    }
  }
}
