.m-sidebarMarkers__container {
  right: 0;
  position: fixed;
  z-index: 999;
  width: 48px;
  height : 100%;
  top: 52px;
  @include m-theme(){
     background: themed($m-white);
   }
   
  .has-v2-navbar & {
    //top: 62px;
  }
}
.has-markers-sidebar {
  margin-right: 46px;
}
