m-sidebar--navigation {
  padding-top: 8px !important;
  @include m-theme(){
     background: themed($m-grey-950);
   }

}

.m-sidebar--navigation--item {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: 'Roboto';
  padding: 8px 0;
  @include m-theme(){
     color: themed($m-grey-300);
   }

  &.m-sidebar-navigation--item-active {
    @include m-theme(){
       color: themed($m-white);
     }
  }

  span {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1.25px;
    padding-top: 4px;
  }
}
