.m-boost--creator {
  font-weight: 400;
  max-width: 900px;
  margin: auto;

  h2, h3, h4, h5 {
    font-weight: 400;
  }

  h3 {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    align-items: center;
    margin: 0 0 $minds-padding 0;

    > .m-boost--creator-section--title-context {
      font-size: 12px;
      line-height: 1;
      max-width: 300px;
      text-transform: initial;
      margin-left: $minds-padding * 3;
    }

  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .material-icons--inline {
    vertical-align: bottom;
    font-size: inherit;
    position: relative;
    top: -0.15em;
  }


  .m-boost--creator--header{
    position: relative;

    h2 {
      font-size: 36px;
      letter-spacing: 1.8px;
      margin: 0;
    }

    .m-boost--creator--wallet {
      @media screen and (max-width: $max-mobile) {
        position: initial;
      }
      position: absolute;
      right: $minds-padding + 64px;
      top: 28px;
      font-size: 16px;

      .m--middle {
        vertical-align: middle;
      }
    }
  }

  .m-boost--creator-section {
    padding: 16px 0;
    font-weight: 400;
  }

  .m-boost--creator-section-row {
    @media screen and (min-width: $min-tablet) {
      display: flex;
      flex-direction: row;

      > section {
        flex: 1;
      }
    }
  }

  .m-boost--creator--target-avatar {
    padding: 8px;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 300px;

    appearance: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    border-radius: $minds-padding / 2;
    margin: 0;
    @include m-theme(){
      background-color: rgba(themed($m-black), 0.15);
    }

    .m-boost--creator-wide-input--edit {
      max-width: calc(90% - 60px) !important;
      @include m-theme(){
        background: rgba(themed($m-black), 0.0);
      }
    }

    .m-boost--creator-autocomplete--suggestion-avatar {
      width: 32px;
      height: 32px;
    }
    input {
      font-size: 16px;
      padding-left: 0;
    }
  }

  .m-boost--creator--amount, .m-boost--creator--target {
    margin-top: 16px;
    letter-spacing: 2.5px;
    input {
      width: 6em;
      max-width: 180px;
      padding: 12px;
      font-weight: 400;
      letter-spacing: 3px;

      appearance: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      border: none;
      border-radius: $minds-padding / 2;
      margin: 0;
      margin-right: 8px;
      @include m-theme(){
        background-color: rgba(themed($m-black), 0.15);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .m-boost--creator-wide-input--estimation {
    display: block;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 8px 0 8px 0;
  }

  .m-boost--creator-selector {
    > li {
      h4, h5, span {
        margin: 0;
        font-weight: 400;
      }

      b {
        font-weight: 400 !important;
        letter-spacing: 3px;
      }

      .m-boost--creator-selector--cta,
      .m-boost--creator-selector--selected-label,
      .m-boost--creator-selector--description {
        display: block;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
      }

      .m-boost--creator-selector--cta,
      .m-boost--creator-selector--selected-label {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        line-height: 2;
      }

      .m-boost--creator-selector--selected-label {
        font-weight: 400;
        @include m-theme(){
          color: themed($m-blue);
        }

      }

      .m-boost--creator-selector--description {
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 1.3;
        max-width: 300px;
        @include m-theme(){
          color: rgba(themed($m-black), 0.75);
        }

        &.m-boost--creator-selector--description--small {
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: 0.35px;
          margin-bottom: $minds-padding;
        }
      }
    }
  }



  .m-boost--creator-wide-input {
    $fs: 48px;

    font-size: $fs;
    letter-spacing: 2.4px;
    //height: $fs + $minds-padding;

    > * {
      vertical-align: middle;
    }

    &.m-boost--creator-wide-input--reading {
      cursor: pointer;
    }

    @media screen and (max-width: $max-mobile) {
      $fs-mobile: 32px;

      font-size: $fs-mobile;

      .m-boost--creator-wide-input--edit {
        height: auto;
        padding: $minds-padding;
        line-height: $fs-mobile;
      }
    }

    .m-boost--creator-wide-input--read-mode {
      font-weight: 400;

      &.m-boost--creator-wide-input--empty-read-mode {
        opacity: 0.65;
      }
    }

    &.m-boost--creator--target {
      .m-boost--creator-wide-input--edit {
        width: 15em;
        max-width: 90%;
        height: auto;
        line-height: 1.2;
      }
    }
  }

  .m-boost--creator-toggle {
    .m-boost--creator-toggle--select,
    .m-boost--creator-toggle--selected {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      min-width: 6em;
      margin-right: $minds-padding * 2;
    }

    .m-boost--creator-toggle--selected {
      font-weight: 400;
      @include m-theme(){
        color: themed($m-blue);
      }
    }

    b {
      font-weight: 400 !important;
    }
  }

  .m-boost--creator--categories {
    font-size: 9px;
    letter-spacing: 1.2px;
  }

  .m-boost--creator-clickable {
    text-transform: uppercase;
    margin-right: $minds-padding * 2;
    font-weight: 400;

    &.m-boost--creator-clickable--highlight {
      font-weight: 500;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .m-boost--creator-autocomplete--suggestion-username {
    vertical-align: middle;
  }

  .m-boost--creator-autocomplete--suggestion-avatar {
    border-radius: 50%;
    margin: 0 0 0 4px;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    @include m-theme(){
      background: themed($m-grey-800);
    }
  }

  .m-boost--creator-autocomplete--results {
    position: relative;
    width: 30em;
    max-width: 90%;
    max-height: 300px;
    font-size: 16px;
    border-radius: 3px;
    padding: $minds-padding;
    margin-top: $minds-padding * 1.5;
    overflow-y: auto;
    box-sizing: border-box;
    @include m-theme(){
      background: rgba(themed($m-black), 0.15);
    }

    &:after {
      bottom: 100%;
      left: 95%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 8px;
      margin-left: -8px;
      @include m-theme(){
        border-color: rgba(themed($m-grey-600), 0);
        border-bottom-color: themed($m-white);
      }
    }

    .m-boost--creator-autocomplete--result {
      padding: $minds-padding / 2;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover, &.m-boost--creator-autocomplete--result-highlight {
        font-weight: 400;
        @include m-theme(){
          background: themed($m-white);
          color: themed($m-black);
        }
      }

      .m-boost--creator-autocomplete--result-content .material-icons {
        vertical-align: middle;
      }

      m--crypto-token-symbol {
        position: relative;
        top: -0.15em;
        margin-left: 0.15em;

        .m--crypto-token-symbol--stroke {
          @include m-theme(){
            stroke: themed($m-grey-700);
          }
        }

        .m--crypto-token-symbol--fill {
          @include m-theme(){
            fill: themed($m-grey-700);
          }
        }
      }
    }
  }

  .m-boost--creator--submit {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .m-boost--creator-button {
      font-size: 14px;
      letter-spacing: 2.33px;
      appearance: none;
      padding: 8px 32px;
      background: none;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      cursor: pointer;
      @include m-theme(){
        color: themed($m-grey-600);
        border: 1px solid themed($m-grey-600);
      }

      &[disabled] {
        cursor: default;
        opacity: 0.35;
      }
    }

    .m-boost--creator-button-back {
      margin-right: 8px;
    }

    .m-boost--creator--submit-label,
    .m-boost--creator--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
        vertical-align: middle;
      }
    }

    .m-boost--creator--submit-error {
      font-size: 12px;
      font-weight: 400;
      @include m-theme(){
        color: themed($m-red);
      }
    }
  }

  .m-boost--creator--target-facebook {
    margin-top: $minds-padding * 2;

    .m-boost--creator-toggle--target-facebook > img {
      height: 2em;
      margin-left: 1em;
    }

    .m-boost--creator--target-facebook-scheduler {
      margin: 8px 0 0 160px;

      m-scheduler > select.m-form-select {
        background: transparent;
        font-weight: 200;
        @include m-theme(){
          color: themed($m-white) !important;
        }
      }
    }
  }

  // Credit Card Input
  .m-boost--creator-payment {
    //position: absolute;
    border-radius: 3px;
    min-width: 440px;
    max-width: 560px;
    padding: 0px;
    //margin: -252px 400px;
    margin: $minds-padding 0 0;
    min-width: 440px;
    @include m-theme(){
      background: rgba(themed($m-black), 0.1);
      border: 1px solid themed($m-grey-100);
    }

    @media screen and (max-width: $max-mobile) {
      position: static;
      margin: 0;
      min-width: 0;
      max-width: initial;
    }

    .mdl-card{
      background: transparent;
    }

    .m-boost--creator-payment-attached{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 50px;

      i{
        font-size: 90px;
        cursor: default;
      }
      span{
        padding: 16px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: default;

        b {
          cursor: pointer;
        }
      }
    }

    .m-payments--saved-card-item{
      @include m-theme(){
        background: rgba(themed($m-black), 0.15);
        border: 1px solid themed($m-grey-100);
      }
    }

    input{
      padding: 12px;
      border: 0;
      border-radius: 3px;
      @include m-theme(){
        background: rgba(themed($m-black), 0.15);
        color: themed($m-white);
      }
    }
    select{
      padding:12px;
      border: 0;
      border-radius: 3px;
      @include m-theme(){
        background: rgba(themed($m-black), 0.15);
        color: themed($m-white);
      }
    }
    label {
      padding: 8px 12px;
      @include m-theme(){
        color: themed($m-white);
      }
    }
    .is-focused, .is-dirty{
      border: 0;
      label{
        border: 0;
        top: -8px;
        left: -8px;
        @include m-theme(){
          color: themed($m-white);
        }
        &::after{
          border:0;
          background-color:transparent;
        }
      }
    }
    .minds-purchase-vendors {
      margin-bottom: ($minds-padding * 2) !important;
      @include m-theme(){
        color: themed($m-white);
      }
    }
    .m-purchase-card--highlight{
      font-weight: bold;
    }
    .m-checkout--secure{
      @include m-theme(){
        color: rgba(themed($m-black), 0.8);
      }
    }
    button{
      padding: 12px;
      -webkit-appearance: none;
      border: 0;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 3px;
      cursor: pointer;
      @include m-theme(){
        background: rgba(themed($m-black), 0.5);
        color: themed($m-white);
      }
    }
  }

  .minds-purchase-card > .mdl-grid {
    justify-content: space-between;
  }

  .m-checkout-confirm {
    padding-left: 0 !important;
  }

  .m-payments-saved {
    .m-payments-saved--item {
      text-transform: uppercase;
      font-weight: 400;
      padding: $minds-padding / 2;
      padding-left: $minds-padding * 2;

      &:hover, &:focus {
        font-weight: 400;
      }
    }
  }
}

//&:last-child {
//  margin-bottom: 0;
//}

.m-boost--creator-selector {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    opacity: 0.5;
    padding: $minds-padding ($minds-padding * 3);
    cursor: pointer;
    user-select: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.m-boost--creator-selector--highlight {
      opacity: 1;
    }

    .m-boost--creator-selector--selected-label {
      visibility: hidden;
    }
  }

  &.m-boost--creator-selector--has-selection {
    > li.m-boost--creator-selector--highlight {
      .m-boost--creator-selector--cta {
        visibility: hidden;
        height: 0;
      }

      .m-boost--creator-selector--selected-label {
        visibility: visible;
      }
    }
  }
}

.m-boost--creator-toggle {
  cursor: pointer;
  user-select: none;

  > span, > img {
    vertical-align: middle;
  }

  &.m-boost--creator-toggle--disabled {
    cursor: default;
    opacity: 0.35;
  }

  .m-boost--creator-toggle--select {
    display: inline-block;
  }

  .m-boost--creator-toggle--selected {
    display: none;
  }

  &.m-boost--creator-toggle--highlight {
    .m-boost--creator-toggle--select {
      display: none;
    }

    .m-boost--creator-toggle--selected {
      display: inline-block;
    }
  }
}

.m-boost--creator-clickable {
  display: inline-block;
  opacity: 0.65;
  cursor: pointer;
  user-select: none;

  &.m-boost--creator-clickable--highlight {
    opacity: 1;
  }
}

// Card Input

.m-boost--creator-modal minds-payments-stripe-checkout {
  minds-checkout-card-input {
    display: block;
    max-width: $min-tablet;
  }

  .mdl-card, .mdl-card__supporting-text {
    background: transparent;
    color: inherit;
  }

  .minds-purchase-card > .mdl-card__supporting-text {
    width: 100%;
    padding: 0 !important;
  }

  .mdl-textfield__label {
    @include m-theme(){
      color: rgba(themed($m-black), 0.46);
    }

    &:after {
      @include m-theme(){
        background-color: themed($m-white);
      }
    }
  }

  .mdl-textfield__input {
    font-family: inherit;
    font-weight: inherit;
    @include m-theme(){
      border-bottom: 1px solid rgba(themed($m-black), 0.32);
      color: themed($m-white);
    }
  }

  .mdl-textfield--floating-label {
    &.is-focused, &.is-dirty, &.has-placeholder {
      .mdl-textfield__label {
        @include m-theme(){
          color: themed($m-white);
        }
      }
    }
  }

  .minds-purchase-vendors {
    > span {
      opacity: 0.35;

      &.m-purchase-card--highlight {
        opacity: 1;
      }
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
    @include m-theme(){
      color: themed($m-white);
      border: 1px solid themed($m-white);
    }

    &:focus {
      @include m-theme(){
        outline: 2px solid themed($m-white);
      }
    }
  }

  .m-checkout-confirm button {
    @extend .m-boost--creator-button;
  }

  .m-checkout-loading {
    text-align: center;

    p {
      margin-top: $minds-padding;
    }
  }

  .m-payments-saved {
    list-style: none;
    margin: 0 0 ($minds-padding * 2) 0;
    padding: 0;
    cursor: pointer;
    user-select: none;

    .m-payments-saved--item {
      &:hover, &:focus {
        @include m-theme(){
          color: themed($m-black);
          background: themed($m-white);
        }
      }
    }
  }
}

m-boost--creator-payment-methods {
  display: block;
}

.m-boost--creator-selector--hoverable {
  @include m-theme(){
     border-bottom: 1px dotted rgba(themed($m-black), 0.25);
  }
}

.m-boost--creator-wide-input--cost {
  display: flex;
  align-items: center;
  margin-top: $minds-padding;

  .m-boost--creator-wide-input--cost-label-value {
    min-width: 180px;
    display: inline-flex;
    align-items: center;
  }

  .m-boost--creator-wide-input--cost-label {
    flex-grow: 1;
    flex-basis: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .m-boost--creator-wide-input--cost-value {
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 4px;
    font-weight: bold;
    text-align: right;
    @include m-theme(){
      background: rgba(themed($m-black), 0.1);
    }

    > span {
      margin: 0 ($minds-padding * 2);
    }
  }

  .m-boost--creator-wide-input--cost-currency {
    margin-left: 1em;
    font-weight: bold;
    letter-spacing: 0.5px;
    @include m-theme(){
      color: themed($m-grey-300);
    }
  }
}
