
  .m-video--quality-control-wrapper{
    position: relative;
  }

  .m-video--quality-control:hover {
    display: block;
  }

  .m-video--quality-control-wrapper:hover .m-video--quality-control {
    display: block;
  }

  .m-video--quality-control{
    display: none;
    bottom: 24px;
    left: 0px;
    z-index: 1;
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 8px;
    cursor: pointer;
    @include m-theme(){
      background: rgba(themed($m-black), 0.4);
    }
  }

  .m-video--selected-quality{
    font-weight: bold;
  }
