m-wallet--flyout {

  z-index: 1000;
  width: 320px;
  position: absolute;
  top: 24px;
  right: -120px;
  @include m-theme(){
    background: themed($m-grey-100);
  }

  @media screen and (max-width: $max-mobile){
    right: -50px;
  }

  .m-wallet--flyout-wrapper {
    max-height: calc(95vh - 60px);
    overflow: visible;

    .m-wallet--flyout-grid {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 8px 8px 0;
      cursor: default;

      & > div {
        font-size: 26px;
        letter-spacing: 0.5px;
        font-family: 'Roboto';
        line-height: 26px;
        flex: 1;
      }
    }
  }

  .m-wallet--flyout-announcement {
    max-height: 112px;
    padding: 16px;
    text-align: left;
    word-wrap: break-word;
    cursor: pointer;
    @include m-theme(){
      color: themed($m-white);
      background-color: themed($m-blue);
    }

    .m-wallet--flyout-announcement--close {
      cursor: pointer;
      padding: 12px;
      position: absolute;
      right: 0;
      top: 0;
      i {
        @include m-theme(){
          color: themed($m-white);
        }
      }
    }
  }

  .m-wallet--flyout-label {
    display: flex;
    align-items: center;

    label {
      text-transform: uppercase;
      font-family: 'Roboto';
      letter-spacing: 1px;
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      height: 25px;
    }
  }

  .m-tooltip {
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    height: 12px;
    padding-left: 2px;

    i {
      font-size: inherit;
      line-height: inherit;
      vertical-align: middle;
    }
  }

  .m-wallet--flyout-balance i {
    font-style: normal;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }

  .m-wallet--flyout--bottom-container {
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 2.5px;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 8px;
    text-align: center;

    a {
      display: block;
    }
  }
}


.m-wallet--topbar-toggle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
