.m-groupMembers__search {
  margin-bottom: 8px;
  input {
    @include m-theme(){
      background: themed($m-white);
    }
  }
}

.m-groupMembers__list {
  @include m-theme(){
    background: themed($m-white);
  }
}
.m-groupMembers__memberCard {
  .mdl-card {
    overflow: visible;
  }
  minds-card-user .minds-usercard-buttons {
    right: 8px !important;
    bottom: 16px !important;
    top: inherit !important;
  }
}
