@import 'defaults.scss';

#{if(&, "&", "*")}.m-messenger--userlist{

  width:200px;

  .m-messenger--userlist-search{
    height: 30px;
    width: 100%;
    padding:0;
    box-sizing: border-box;
    @include m-theme(){
      background: rgba(themed($m-white), 1);
    }

    > i {
      vertical-align: middle;
      font-size: 20px;
      padding: 0px 4px;
    }
    > input {
      border: 0;
      height: 100%;
      width: 168px;
      vertical-align: middle;
      font-size: 12px;
      line-height: 12px;
      padding: 0;
      -webkit-appearance: none;
      outline: none;
    }
  }

  .m-messenger--userlist-conversations{
    max-height: 240px;
    overflow: scroll;
    overflow-x:hidden;
  }

  .m-messenger--userlist-conversations-item{
    cursor:pointer;
    display: flex;
    align-items: center;

    img{
      width: 24px;
      margin: 8px;
      flex-shrink: 0;
    }
    span{
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 132px;
      vertical-align: middle;
      display: inline-block;
    }
    span.m-conversation-label {
      flex-grow: 1;
    }
  }
}
