
/**
 * Minds video components
 */
 m-video{
  position: relative;
  display:block;

  video{
    width:100%;
  }

  .m-video--player {
    display: block;
  }

  .minds-video-bar-min{
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: auto;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
    @include m-theme(){
      background-color: rgba(themed($m-black), 0.4);
      color: themed($m-white);
    }

  }
  .minds-video-bar-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    box-sizing:border-box;
    padding:$minds-padding;
    text-align:center;
    @include m-theme(){
      background-color: rgba(themed($m-black), 0.4);
      color:themed($m-white);
    }
  }
  .minds-video-play-icon{
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    position: absolute;
    cursor: pointer;
    width: 100%;
    @include m-theme(){
      color: themed($m-white);
    }
  }
  .minds-video-bar-full{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    //padding: $minds-padding;
    text-align: center;
    align-items: center;
    @include m-theme(){
      color:themed($m-white);
      background-color: rgba(themed($m-black), 0.4);
    }

    .mdl-spinner {
      margin: 0 8px;
    }

    > m-video--quality-selector, > a, > i {
      cursor: pointer;
      text-decoration: none;
      padding: 12px;
    }
  }

  &:hover{
    .minds-video-bar-min{
      display: none;
    }
    .minds-video-bar-full{
      display: flex;
    }
  }

  .m-video--torrent-info {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    font-size: 12px;
    @include m-theme(){
      background-color: rgba(themed($m-black), 0.65);
      color: rgba(themed($m-white), 0.65);
    }
  }

  .m-video--torrent-info--cell {
    display: flex;
    align-items: center;
    margin: 4px 0;

    &:last-child {
      margin-right: 0;
    }

    .material-icons {
      font-size: 16px;
      line-height: 1;
      margin-right: 4px;
      @include m-theme(){
        color: rgba(themed($m-white), 0.85);
      }
    }
  }

   .m-video--info-button {
     display: flex;
     align-items: center;
     line-height: 1;
     margin-right: 4px;
     padding: 12px 4px !important;

     > .material-icons {
       margin-right: 4px;
     }

     > span {
       font-size: 12px;
       font-weight: 300;
     }
   }
}
