@import "defaults";


minds-admin-analytics{

  .mdl-card{
    min-height:0;
    width:auto;

    .results{
      display:table;

      .row{
        flex:1;
        padding:$minds-padding;
        @include m-theme(){
           border-bottom: 1px solid themed($m-grey-50);
        }

        > label{
         width:60%;
         float:left;
        }
      }
      .cell{
        display:table-cell;
        flex:1;
        @include m-theme(){
           border-right: 1px solid themed($m-grey-50);
        }
        &:last-child{
          border-right:0;
        }
        text-align:center;

        label{
          width:100%;
          display:block;
        }
      }
    }
  }

}


minds-admin-boosts{
  minds-button-comment {
    display: none !important;
  }

  .boost{
    width: auto;
    padding: 20px;
  }
}


.m-admin-pages{

  .m-admin-pages-path{
    padding:$minds-padding;
  }

  .m-admin-pages-link-path{
    padding:$minds-padding 0;

    .m-form-input {
      display: block;
      font-size: 16px;
      padding: 8px;
      width: 100%;
      margin-top: 0.35em;
    }
  }

  .m-form-actions{
    padding:$minds-padding 0;
  }

}

.m-admin-reports {
  .m-report {
    margin-bottom: $minds-padding * 2;
  }

  .m-no-reports {
    text-align: center;
  }

  .m-action-buttons {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
  }

  .m-report-archive-button {
    float: left;
  }

  //

  minds-activity {
    &.mdl-shadow--2dp {
      box-shadow: none !important;
    }

    .tabs {
      display: none;
    }

    .impressions-tag {
      display: none;
    }

    .mdl-card__menu {
      display: none;
    }
  }

  //

  minds-comments {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;

    .minds-comment {
      padding: $minds-padding;

      .mdl-card__menu {
        display: none;
      }
    }
  }

  .m-report-meta {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    @include m-theme(){
       border-bottom: 2px solid themed($m-grey-100);
    }

    p {
      margin: 0 0 0.35em;

      span {
        font-weight: bold;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.m-admin-button--green {
  @include m-theme(){
    background: themed($m-green);
  }
}
.m-admin-button--green-dark {
  @include m-theme(){
    background: themed($m-green-dark);
  }
}
.m-admin-button--amber{
  @include m-theme(){
    background: themed($m-amber);
  }
}
.m-admin-button--amber-dark {
  @include m-theme(){
    background: themed($m-amber-dark);
  }
}
.m-admin-button--red {
  @include m-theme(){
    background: themed($m-red);
  }
}
