@import "defaults";

minds-capture{
  height: calc(100vh - 80px);
  display:block;


}

.drag-animation{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items:center;
  -webkit-align-items:center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 100;
  animation: fade-animation 2s infinite alternate;

  .drop{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin:auto;
    width:50%;
    height:50%;


    i{
      font-size:12em;
      width:100%;
    }
    p{
      width:100%;
    }
  }
}
@keyframes fade-animation {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 0.8;
    }
}


.capture-grid{
  .mdl-card{
    min-height:0;
    width:100%;
  }

  .m-capture-default-maturity {
    cursor: pointer;
    padding-top:$minds-padding;

    i{
      cursor:pointer;
      vertical-align: middle;
    }
    span{
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  .m-albums-selector{

    .mdl-button.m-album-add{
      width:24px;
      min-width:0;
      height:24px;
      margin-left:$minds-margin;

      i{
        font-size:12px;
      }
    }

    .m-album{
      cursor:pointer;
      @include m-theme(){
         border-bottom: 1px solid themed($m-grey-100);
      }
      h2{
        margin:0;
        font-size:14px;
        line-height:16px
      }

      .mdl-card__menu{
        visibility: hidden;
      }
      &:hover{
        .mdl-card__menu{
          visibility: visible;
        }
      }

    }

    .m-album-create{
      input{
        outline: none;
        border: 0;
        font-size: 14px;
        @include m-theme(){
          color: themed($m-white);
          background: rgba(themed($m-white), 0.2);
          border-right: 1px solid themed($m-grey-100);
        }
      }

      button{
        float:left;
        margin-left: $minds-margin;
      }
    }
  }

  .upload-button{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    cursor:pointer;

    button{
      cursor:pointer;
    }

    input{
       position: absolute;
       height: 100%;
       width: 100%;
       top: 0;
       left: 0;
       cursor: pointer;
       opacity: 0;
       @include m-theme(){
         color: themed($m-grey-400);
       }
    }
    input::-webkit-file-upload-button{
      cursor:pointer;
    }

  }

  .m-upload{
    input{
      outline: none;
      border: 0;
      font-size: 14px;
      @include m-theme(){
        border-right: 1px solid themed($m-grey-100);
      }
    }
    .mdl-progress{
      width:100%;
    }
  }

  .m-splash{
    text-align: center;
    padding: 10vh;

    i{
      font-size: 152px;
      text-align: center;
      width: 100%;
    }
    h3{
      text-transform: uppercase;
      font-weight: 100;
    }
  }

}

.m-capture-edit-container{
  input{
    flex:2;
  }
  select{
    width: auto;
    flex: 1;
  }

  .m-capture-mature {
    margin-left: $minds-padding;
    cursor: pointer;

    i{
      cursor:pointer;
      vertical-align: middle;
    }
    span{
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}
.m-capture-save-to-album-button{
  margin-left: 8px;
}
