.m-report-creator--header h2{
  font-weight: 200;
  margin: 0;
  font-size: 36px;
}

.m-report-creator--subjects{
  padding: 16px 0;

  .m-report-creator--subjects-subject{
    padding: 12px 0;
    letter-spacing: 1.5px;
    @include m-theme(){
       border-bottom: 1px solid themed($m-grey-100);
    }

    &:last-child{
      border-bottom: none;
    }

    label{
      font-size: 13px;
    }
  }
}

.m-report-creator {
  font-weight: 400;
  max-width: 900px;
  margin: auto;
  position: relative;

  h2 {
    font-weight: 200;
  }
}

.m-report-creator--success, .m-report-creator--copyright, .m-report-creator--appeals {
  padding: 32px 0;

  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.m-report-creator--appeals {
  textarea {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    @include m-theme(){
       border: 1px solid themed($m-grey-50);
       background: rgba(themed($m-white), 0.5);
    }
  }
}

.m-report-creator--submit, .m-report-creator--close {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .m-report-creator--button {
    font-size: 14px;
    letter-spacing: 2.33px;
    appearance: none;
    padding: 8px 32px;
    background: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    cursor: pointer;
    @include m-theme(){
      border: 1px solid themed($m-grey-700);
      color: themed($m-grey-700);
    }

    &[disabled] {
      cursor: default;
      opacity: 0.35;
    }
  }

  .m-report-creator--submit-label,
    .m-report-creator--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
      vertical-align: middle;
    }
  }

  .m-report-creator--submit-error {
    font-size: 12px;
    font-weight: 500;
    @include m-theme(){
      color: themed($m-red);
    }
  }

  .m-report-creator--section {
    padding: 16px 0;
    font-weight: 400;

    &.m-report-creator--section--last {
      margin-top: 8px;
    }
  }
}
