.m-onboarding--modal-wrapper{
  padding: 0;
  overflow: visible;
  @include m-theme(){
    background: themed($m-white);
  }

  .m-overlay-modal--close {
    display: none;
  }
}

.m-onboarding--modal {
  .m-token--onboarding .m-token--onboarding--slide {
    margin-bottom: 0;
  }

  .m-btn--slim {
    margin-left: 8px;
  }
}
