.m-groupMemberInvite {
  padding: 16px;
  @include m-theme(){
    background: themed($m-white);
  }
}

.m-groupMemberInvite__title {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;

  a {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 8px;
    line-height: 30px;
    text-decoration: none;
  }
}

.m-groupMemberInvite__instructions {
  padding-left: 16px;
}
