@import "defaults";

m-channel--onboarding {
  user-select: none;
  @include m-theme(){
    color: themed($m-grey-900);
  }

  m-modal .m-modal-container .mdl-card {
    border-radius: 6px;
  }

  @media screen and(max-width: $max-mobile) {
    m-modal .m-modal-container {
      max-height: 90vh;
      overflow: auto;
    }
  }
}

.m-channel--onboarding {
  max-width: 720px;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5em;
  padding-top: 24px;
  @include m-theme(){
    background-color: themed($m-white);
  }

  .m-channelOnboarding__logo {
    text-align: center;
    margin-top: $minds-padding * 2;

    img {
      max-height: 60px;
      margin: $minds-padding 0 $minds-padding * 2;

      @media screen and (max-width: $max-mobile) {
        max-height: 20px;
        margin-top: 16px;
      }
    }
  }

  .m-channelOnboarding__slide {
    padding: 0 24px 0;
    //display: flex;
    //flex-direction: row;
    //margin-bottom: 16px;

    &.m-channelOnboarding__slide--centered {
      text-align: center;
    }

    .m-channelOnboardingSlide__column {
      width: 50%;
      display: inline-block;
    }

    p {
      font-size: 16px;
      @include m-theme(){
        color: themed($m-grey-800);
      }

      &.m-channelOnboardingSlide__info {
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 24px;
        @include m-theme(){
          color: themed($m-grey-800);
        }

        i.material-icons {
          @include m-theme(){
            color: themed($m-blue);
          }
        }
      }
    }

    .m-channelOnboardingSlideRewards__input {
      margin-bottom: 16px;
      text-align: center;

      > *:not(.m-channelOnboardingSlideForm__input) {
        display: inline-block;
        vertical-align: middle;
      }

      .m-btn {
        margin-left: 16px;
      }

      .m-channelOnboardingSlideForm__input {
        margin: 0 auto;

        input {
          padding: 8px;

          font-size: 16px;
        }
      }

      .m-channelOnboardingSlideForm__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $minds-padding * 2 0;
      }

      m-tooltip i {
        font-size: 16px;
      }

      .mdl-spinner {
        margin: 0 auto;
      }
    }

    .m-channelOnboardingSlideRewards__error {
      font-weight: 600;
      padding: 8px;
      margin: 16px 0;
      border-radius: 3px;
      text-transform: capitalize;
      text-align: center;
      @include m-theme(){
        color: themed($m-red) !important;
      }
    }


    .m-channelOnboardingSlide__component {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0;

      label {
        font-size: 16px;
        font-weight: bold;
        @include m-theme(){
          color: themed($m-grey-800);
        }
      }

      minds-avatar {
        //width: 72px;
        //height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 220px;

        .minds-avatar {
          flex-shrink: 0;
          background-repeat: no-repeat;
          background-size: cover;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          @include m-theme(){
             border: 1px solid themed($m-grey-50);
          }

          .overlay {
            display: flex;
            align-items: center;
            justify-content: center;

            position: initial;
            padding: 0;
            background-color: transparent;

            i.material-icons {
              padding: 0;
            }
          }

          input[type=file] {
            cursor: pointer;
          }
        }
      }

      input {
        border-radius: 20px;
        font-weight: normal;
        font-size: 16px;
        min-width: 220px;
        text-align: center;
        padding: 8px 16px;
        @include m-theme(){
           border: 1px solid themed($m-grey-50);
        }

        &:focus {
          outline: 0;
          @include m-theme(){
             border-color: themed($m-grey-200);
          }
        }
      }
    }

    & > input {
      padding: 10px;
      width: 120px;
      border-radius: 3px;
      -webkit-appearance: none;
      font-size: 13px;
      font-weight: 600;
      text-transform: lowercase;
      @include m-theme(){
        border: 1px solid themed($m-grey-50);
        color: themed($m-grey-700);
      }
    }

    i {
      font-size: 16px;
      cursor: pointer;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }

    .mdl-spinner {
      margin: 0 auto;
    }

    .m-channelOnboardingSlideSection__item {
      align-self: center;
      margin: $minds-margin/2;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      border-radius: 24px;
      padding: 8px 12px;
      @include m-theme(){
         border: 1px solid themed($m-grey-50);
      }

      &li {
        list-style:none;
      }
    }

    .m-channelOnboardingSlideSection__row, .m-channelOnboardingSlideSection__list {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 16px);
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      .m-hashtag--creator {
        margin: 2px 8px;

        input {
          padding: 8px;
          width: 120px;
          border-radius: 3px;
          -webkit-appearance: none;
          border-radius: 24px;
          font-size: 13px;
          font-weight: 600;
          text-transform: lowercase;
          margin-right: 8px;
          @include m-theme(){
             border: 1px solid themed($m-grey-100);
          }
        }

        i {
          font-size: 16px;
          cursor: pointer;
          @include m-theme(){
            color: themed($m-grey-400);
          }
        }
      }

      > .m-channel--onboarding-section {
        flex: 1;
      }
    }

    .m-channel--onboarding--section {
      padding: 16px 0;
      font-weight: 400;

      &.m-channel--onboarding--section--last {
        margin-top: 8px;
      }
    }

    .selected {
      @include m-theme(){
        color: themed($m-blue);
      }
    }

    @media screen and (max-width: $max-mobile) {
      h2 {
        font-size: 22px !important;
        line-height: 22px !important;
      }
      .m-channelOnboardingSlide__component {
        flex-direction: column;
      }
    }

    h2 {
      font-size: 42px;
      margin: 0 0 16px;
      text-align: center;
      font-weight: bold;
      line-height: 42px;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }

    .m-channelOnboardingSlide__subtext {
      font-size: 16px;
      line-height: 20px;
      margin: 8px 0 16px;
      padding: 0;

      &.m-channelOnboardingSlide__subtext-note {
        font-size: 12px;
        line-height: 15px;
        margin: 16px 0 8px;
      }
    }

    .m-channelOnboardingSlide__prompt {
      font-size: 12px !important;
      line-height: 1.2 !important;
    }

    .m-channel--onboarding--video {
      width: 392px;
      height: 225px;
      margin-bottom: 24px;

      video {
        width: 100%;
        height: 100%;
      }
    }

    m-suggestions__sidebar, m-suggestions__sidebarGroups {
      margin: 0 auto;
    }

    ul.m-channelOnboardingSlide__frequency {
      margin: 16px 0 0;
      padding: 0;
      //display: flex;
      //flex-direction: row;
      list-style: none;
      font-weight: bold;

      max-width: 150px;
      margin: 0 auto;

      //display: flex;
      //flex-direction: column;
      //align-items: center;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px 16px;
        cursor: pointer;
        @include m-theme(){
          color: themed($m-grey-800);
          border-bottom: 1px solid themed($m-grey-50);
        }
      }

      i {
        line-height: 1;
        @include m-theme(){
          color: themed($m-blue);
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 14px;
        @include m-theme(){
          color: themed($m-grey-400);
        }
      }

    }

    @media screen and (max-width: 1120px) {
      padding: 12px;
      flex-direction: column;

      > div:nth-of-type(1) {
        width: 100%;
      }

      > div:nth-of-type(2) {
        padding-left: 0;
        padding-top: 12px;
      }

      .m-channel--onboarding--video {
        width: 100%;
      }
    }

    .m-channelOnboardingSlide__list {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      //background: themed($m-white);
      max-width: 1280px;
      margin: auto;

      m-channels--tile {
        //flex: auto;
        flex-basis: calc(25% - 16px);

        //1:1 ration default (square)
        max-width: calc(25% - 16px);

        @media screen and (max-width: 990px) {
          flex-basis: calc(33% - 16px);
          max-width: calc(33% - 16px);
        }

        @media screen and (max-width: 720px) {
          flex-basis: calc(50% - 16px);
          max-width: calc(50% - 16px);
        }

        @media screen and (max-width: 500px) {
          flex-basis: calc(100% - 16px);
          max-width: calc(100% - 16px);
        }

        margin: 8px;

        overflow: hidden;
      }

    }
  }

  .m-channelOnboarding__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 24px;

    .m-channelOnboarding__previous, .m-channelOnboarding__next {
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }

    .m-channelOnboarding__next {
      text-align: right;
    }
  }

}
