@import "defaults";

m-media--view{
  display: block;
  position: relative;

  h1{
    margin:0;
  }
  .m-media-album--backlink{
    text-decoration: none;
  }

  m-wire--lock-screen {
    max-width: 1168px;
    margin: 0 auto;
  }
}


m-media--theatre{
  display: block;
  width: 100%;

  align-items: text;
  -webkit-align-items: text;
  overflow: hidden;
  position: relative;
  height: auto;
  @include m-theme(){
    background-color: themed($m-grey-950);
  }

  @media screen and (max-width: $max-mobile){
    min-height: 200px;
  }

  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: 40%;
  }

  &.m-mature-content {
      cursor: pointer;

      .m-media-stage {
          filter: blur(25px) grayscale(100%);
          overflow: hidden;
          transform: translate3d(0, 0, 0);
      }
  }

  .left, .right{
    position: absolute;
    top: 50%;
    margin-top: -32px;
    font-size: 64px;
    cursor:pointer;
    @include m-theme(){
      color: themed($m-white) !important;
    }

    &.left{
      left: 0;
    }
    &.right{
      right: 0;
    }

  }

  .m-media-stage{
    margin: auto;
    max-width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.m-media-stage--has-nav {
      max-width: 90%;
    }

    img{
      max-width:100%;
      height:100%;
    }
    m-video{
      @include m-theme(){
        background: themed($m-black);
      }
      video{
        max-width:100%;
        height:100%;
      }
    }
  }
}

m-media--edit {
  display: block;
  height:100%;
  @include m-theme(){
    background-color: themed($m-white);
  }
  .m-h1-input {
    padding: 0;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.5px;
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2em;
    height: auto;
  }
  .m-form-select {
    max-width: 128px;
    flex: auto;
  }
  m-inline-editor, m-inline-editor p {
    margin-bottom: 0.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: 0.5px;
    letter-spacing: -.003em;
    font-family: 'Roboto';
    margin-top: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @include m-theme(){
      color: rgba(themed($m-black), .84);
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

minds-media-body{
  padding-top:$minds-padding * 2;
}

.m-media-grid{
  h1{
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    font-size:36px;
    font-weight:400;

    @media screen and (max-width: $max-mobile){
      font-size: 28px;
    }
  }

  .minds-comments-container {
    max-height: 600px;

    @media screen and (max-width:$max-mobile) {
      max-height: 75vh;
    }
  }
}

m-media--grid{
  display:flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  flex-flow:row wrap;

  > a{
    width: 33.333%;
    position:relative;
    img{
      width: 100%;
      height: auto;
      max-height: 100%;
    }
    span{
      font-size: 72px !important;
      text-align: center;
      width: 100%;
      position: absolute;
      top: calc(50% - 36px);
      @include m-theme(){
        color: themed($m-white);
      }
    }

    > i.material-icons {
      display: none;
    }

    &.m-mature-thumbnail {
      transform-style: preserve-3d;
      overflow: hidden;
      @include m-theme(){
        background-color: rgba(themed($m-black), 0.65);
      }

      > img {
        filter: blur(5px) grayscale(100%);
        transform: translate3d(0, 0, 0);
        opacity: 0.65;
      }

      > i.material-icons {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        @include m-theme(){
          color: themed($m-white);
        }
      }
    }

  }

  @media screen and (max-width: 780px){
    > a{
      width:50%;
    }
  }

  @media screen and (min-width: 1300px){
    > a{
      width:25%;
    }
  }

}

//

.m-media--loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.m-media-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (max-width: $max-mobile) {
    display: block;
  }
}

.m-media-content {
  flex-grow: 1;

  minds-media-grid {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
  }
}

.m-media-content--meta {
  .m-media-content--title {

    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 1.5px;
      padding-left: $minds-padding * 1.5;
      flex: 1;
    }

    @media screen and (min-width: $min-huge) {
      display: flex;;
    }

    @media screen and (max-width: $max-mobile) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: $min-tablet) {
      flex-wrap: wrap;
    }
  }

  h1.m-media-content--heading{
    word-break: break-word;

    @media screen and (max-width: $min-tablet) {
      font-size: 26px;
    }

    @media screen and (max-width: $max-mobile) {
      font-size: 16px;
    }
  }

  h1.m-media--long-heading{
    font-size: 16px;
    white-space: pre-line;
    letter-spacing: 0.25px;
  }

  .m-media-content--info {

    display: flex;
    align-items: center;
    font-size: 10px;

    a {
      cursor: pointer;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }

    > * {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: $minds-margin;
      @include m-theme(){
        color: themed($m-grey-600);
      }

      > * {
        vertical-align: middle;
      }
    }

    i.material-icons{
      @media screen and (max-width: $min-tablet) {
        font-size: 22px;
      }

      @media screen and (max-width: $max-mobile) {
        font-size: 16px;
      }
    }

    .m-license-info, .m-media-album--backlink, .m-mature-info, .m-visibility-info, .m-media-content--play-count{
      @media screen and (max-width: $min-tablet) {
        font-size: 9px;
      }

      @media screen and (max-width: $max-mobile) {
        font-size: 7px;
      }
    }

  }

  .m-media-content--actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    m-post-menu {
      i {
        @include m-theme(){
          color: themed($m-blue-grey-500) !important;
        }
      }
    }

    > *:not(m-post-menu) {
      vertical-align: middle;
      margin-left: 0.35em;

      &:first-child {
        margin-left: 0;
      }

      i {
        padding: $minds-padding;
        vertical-align: middle;
      }

      span {
        padding: $minds-padding 0;
        vertical-align: middle;
      }

      button {
        padding: 0;
        border: 0;
      }
    }

    minds-button-boost .mdl-button {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: 1;
    }

  }

  .m-media-content--owner {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    .minds-avatar {
      background: transparent;

      img {
        width: 50px;
        border-radius: 50%;
        @include m-theme(){
          background: themed($m-white);
        }
      }
    }

    .minds-body {
      //flex-grow: 1;
      padding: 0 $minds-padding*2 0 $minds-padding;

      a {
        text-decoration: none;
        letter-spacing: 1.5px;
      }

      span {
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: 600;
      }
    }

    .m-media--info {
      display: flex;
      align-items: center;
      @include m-theme(){
        color: themed($m-grey-300);
      }

      .material-icons {
        font-size: inherit;
        margin-right: 0.35em;
      }

      > * {
        display: flex;
        align-items: center;
        margin-left: 0.7em;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .m-wire-button > .ion-icon {
    transform: scale(1.2);
  }

  .m-media-content--extra {
    flex-grow: 1;
  }

  .m-media-content--description {
    padding: 0 $minds-padding 0 (50px + ($minds-padding * 3));
    margin-top: ($minds-padding * 2);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    h1, h2, h3, h4, h5, h6, p {
      font-family: inherit;
      font-weight: inherit;
    }
  }

  .m-additional-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.m-media-content--comments {
  width: auto;
  max-width: 1168px;
  margin: $minds-margin * 2;
  margin-bottom: 50px;
  box-sizing: border-box;
  @include m-theme(){
    border: 1px solid themed($m-grey-50);
  }

  minds-comments {
    margin-top: 0;
    .minds-comments-container {
      max-height: none;
    }
  }
}

.m-media-recommended {
  width: 280px;
  padding: $minds-padding * 2;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }
}

.m-media-content--wrapper {
  display: flex;
  align-items: flex-start;

  .m-media-content--container {
    flex-grow: 1;
    max-width: 100%;
    @include m-theme(){
      background: themed($m-white);
    }
  }

  .m-media-content--recommended {
    padding-top: $minds-padding * 2;
  }
}

.m-media-theatre--next-countdown{
  z-index: 9999;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  opacity: .8;
  padding: 16px 0 16px 0;
  @include m-theme(){
    color: themed($m-white);
    background-color: themed($m-black);
  }
}

.m-media-theater--toggle {
  position: absolute;
  left: $minds-padding;
  top: $minds-padding;
  cursor: pointer;
  opacity: 0.35;
  visibility: hidden;
  @include m-theme(){
    color: themed($m-white);
    text-shadow: 1px 1px 3px rgba(themed($m-black), 0.65);
  }

  &.m-media-theater--toggle-active {
    @include m-theme(){
      color: themed($m-blue);
    }
  }

  m-media--theatre:hover & {
    visibility: visible;
  }
}

.m-media-content--button-boost{
  padding-left: $minds-padding;
}
