m-admin--purchases {
  display: block;
  padding: 16px;

  .m-admin--pledges--results {
    display: flex;
    min-width: 990px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    .m-admin--pledges--table {
      margin-right: 8px;
      padding: 8px;
      display: block;
      width: 300px;
      flex: 1;
      @include m-theme(){
        background: themed($m-white);
      }

      h3 {
        margin: 0 8px;
        font-size: 16px;
        font-weight: 600;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;


        td {
          font-size: 14px;
          @include m-theme(){
             border: 1px solid themed($m-grey-50);
          }

          &.m-admin--pledges--actions {
            text-align: center;

            .m-admin--pledges--actions--status {
              text-transform: uppercase;
              letter-spacing: 0.5px;
            }

            > button {
              margin: 0 0.35em;
            }
          }
        }
        th {
          @include m-theme(){
             border: 1px solid themed($m-grey-50);
             border-top: 0;
          }
          &:first-child {
            border-left: 0;
          }
          &:last-child {
            border-right: 0;
          }
        }

        tr:first-child td {
          border-top: 0;
        }
        tr td:first-child {
          border-left: 0;
        }
        tr:last-child td {
          border-bottom: 0;
        }
        tr td:last-child {
          border-right: 0;
        }

        td, th {
          padding: 8px;
        }

        .m-admin--pledges--avatar {
          border-radius: 100%;
          width: 20px;
          height: 20px;
        }
      }

    }

  }
}
