.m-wire-console--overview {
  padding: 16px;
  margin: auto;
  font-family: 'Roboto';
  
  @include m-theme(){
    color: themed($m-white);
    background: themed($m-blue);
  }

  @media only screen and (max-width: 400px) {
    padding:0;
    text-align: center;
  }

  .m-wire-console--overview-stat {
    flex: auto;
  }

  .m-wire-console--overview-stat-type {
    display:flex;
    align-items:center;
  }

  .m-wire-console--overview-stat-label {
    padding: 0;
    margin: ($minds-padding * 2) ($minds-padding * 3) 0;
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.65;
  }

  i{
    font-style: normal;
    font-weight:100;
  }

  > div{
    font-size:48px;
    letter-spacing:2px;
    line-height:48px;
    flex:auto;
    width:auto;
    padding:8px 16px;
  }

  .m-wire-console--label{
    display:block;

    > * {
      vertical-align:middle;
    }

    label{
      text-transform: uppercase;
      font-family: 'Roboto';
      letter-spacing:1px;
      font-size:14px;
      font-weight: 600;
    }
    i{
      font-size: 16px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
