@import "defaults";

minds-form-register{

  form {
    overflow: visible !important;
  }

  .password-help {
    padding-left: 4px;
  }

  .mdl-card__actions{
    display:flex;
    padding-left:$minds-padding*2;
    align-items:center;
  }

  .m-register-tac{
    font-size:11px;
  }

  //this is exactly the same as modal.scss
  .m-fb-register-button{
    color: #3b5998;
    width: 170px;
    border: 0;
    cursor:pointer;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    border: 1px solid #3b5998;
    @include m-theme(){
      background: themed($m-white);
    }

    .m-social-icons-icon-inline{
      fill: #3b5998;
      vertical-align: middle;
      display: inline-block;
    }

    .m-signup-button-text{
      display: inline-block;
      vertical-align: middle;
      font-size: 9px;
      width: auto;
      max-width: calc(100% - 60px);
      letter-spacing: 0.1em;
      padding-left: 4px;
      font-weight:600;
    }

  }

  .m-login-box > div {
    overflow: visible;
  }

  .tooltip-wrapper {
    bottom: 14px;
    position: absolute;
    right: 16px;

    .m-tooltip--bubble {
      width: 280px;
    }
  }

  .m-register--username-taken {
    position: absolute;
    right: 15px;
    top: 20px;
    @include m-theme(){
      color: themed($m-red);
    }
  }

  .m-register--username-available {
    position: absolute;
    right: 15px;
    top: 20px;
    @include m-theme(){
      color: themed($m-green);
    }
  }

  .mdl-checkbox {
    padding-top: 5px;
  }
}
