
.m-admin--reports-download {
  display: block;
  padding: 16px;

  .m-admin--reports-download-selector {
    @include m-theme(){
      background: themed($m-blue-grey-800);
    }
    margin-bottom: 16px;

    span {
      padding-right: 10px;
      line-height: 2em;
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }

  select {
    padding: 8px 40px 8px 8px;
    appearance: none;
    @include m-theme(){
       border: 1px solid themed($m-grey-100);
    }
  }

  .m-date-selector--input {
    margin-left: 10px;
    width: 150px;
  }
}

.m-admin--reports-download--container {
  max-width: 600px;
}

.m-admin--reports-download-error {
  @include m-theme(){
    color: themed($m-red);
  }
}
