.m-groupMemberPreviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 750px) and (min-width: 600px) {
    max-width: 75%;
  }

  @media screen and (max-width: 600px) {
    max-width: 65%;
  }

}

.m-groupMemberPreviews__member, .m-groupMemberPreviews__member--count {
  border-radius: 100px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 8px;

  &.m-groupMemberPreviews__member--count {
    width: auto;
    font-weight: 500;
    padding: 0 8px;
    line-height: 32px;
    display: inline-block;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    @include m-theme(){
      background: themed($m-grey-50);
      color: themed($m-grey-500);
    }

    span {
      vertical-align: middle;
      display: inline;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}
