@import "defaults";

.m-card--large {
  padding: 24px;
  margin-bottom: 16px;
  @include m-theme(){
    background: themed($m-white);
  }

  h2 {
    font-size: 42px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 42px;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }

  .m-card--subtext {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 16px;
    padding: 0;
  }
}
