.m-messenger--onboarding--setup--input {
  .m-input {
    max-width: 400px;
    margin-bottom: 8px;
    @include m-theme(){
      background: themed($m-white);
    }
  }

  m-tooltip {
    align-self: center;

    i {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}

.m-messenger--onboarding--setup--icon {
  font-size: 160px;
  text-align: center;
}
