minds-media-thumbnail-selector {
  .m-thumbnail-selector--video-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    @include m-theme(){
      background: rgba(themed($m-black), 0.7);
    }
  }
  .m-thumbnail-selector--video-wrapper {
    display: block;
    position: relative;
    text-align: center;
    @include m-theme(){
      background: themed($m-black);
    }
    .m-thumbnail-selector--thumbnail {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      & > img {
        display: block;
        height: 100%;
        margin: auto;
      }
    }
    video {
      display: block;
      max-width: 75%;
      margin: auto;
    }
  }
  .mdl-spinner {
    margin: auto;
  }

  .m-thumbnail-selector--thumbnails {
    max-width: 660px;
    margin: 0 auto;
    padding: 8px;
    text-align: left;
    @include m-theme(){
      background-color: themed($m-white);
    }
    .m-thumbnail-selector--thumbnails--title {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: bold;
    }

    .m-thumbnail-selector--thumbnails--subtext {
      line-height: 2em;
      & > a {
        font-weight: 600;
        cursor: pointer;
      }
    }

    .m-thumbnail-selector--thumbnails-list {
      display: flex;
      justify-content: space-around;

      img.m-thumbnail-selector--thumbnails-list--thumbnail {
        max-width: 150px;
        max-height: 84px;
        border: 3px solid transparent;
        border-radius: 3px;

        &.m-thumbnail-selector--thumbnails-list--thumbnail--selected {
          @include m-theme(){
            border-color: themed($m-blue);
          }
        }
      }
    }
  }
}
