.m-dropdown--list-container, .m-dropdown--expanded-list-container {
  position: relative;
}

.m-dropdown--label-container {
  cursor: pointer;

  .m-dropdown--label-icon {
    vertical-align: middle;
  }

  .m-dropdown--label-icon-inactive {
    display: inline-block;
  }

  .m-dropdown--label-icon-active {
    display: none;
  }

  // when dropdown is opened
  &.m-dropdown--label-active {

    .m-dropdown--label-icon-inactive {
      display: none;
    }

    .m-dropdown--label-icon-active {
      display: inline-block;
    }
  }
}

.m-dropdown--list, .m-dropdown__list {
  padding: 0;
  margin: 0;
  list-style: none;

  .m-dropdown--list--item, .m-dropdownList__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px 0 0;
    list-style: none;
    opacity: 1;
    text-overflow: ellipsis;
    text-align: left;

    a {
      text-decoration: none;
      width: 100%;
      font-weight: 400;
      @include m-theme(){
        color: themed($m-grey-700);
      }
    }

    i {
      vertical-align: middle;
      margin-right: $minds-margin;
      font-size: 18px;
    }

    span {
      vertical-align: middle;
    }

    > * {
      vertical-align: middle;
    }
  }
}

.m-dropdown {
  .m-dropdown--list, .m-dropdown__list {
    width: 150px;
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    overflow: visible;
    display: block;

    @include m-theme(){
      box-shadow: 0 2px 2px 0 rgba(themed($m-black), .14), 0 3px 1px -2px rgba(themed($m-black), .2), 0 1px 5px 0 rgba(themed($m-black), .12);
      background-color: themed($m-white);
      border: 1px solid themed($m-grey-50);
    }

    .m-dropdown--list--item, .m-dropdownList__item {
      padding: 8px;
      @include m-theme(){
         border-bottom: 1px solid themed($m-grey-50);
      }

      &.m-dropdown--list--item--selected, .m-dropdownList__item--selected {
        @include m-theme(){
          color: themed($m-white);
          background: themed($m-blue);
        }
      }
    }

    li:last-of-type {
      border-bottom: none !important;
    }
  }
}

.m-dropdown--expanded {
  .m-dropdown--list, .m-dropdown__list {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
