.m-feeds-sorted__Filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 16px;
  @include m-theme(){
    background: themed($m-white);
  }

  m-sort-selector {
    flex-grow: 1;
  }

  m-topbar--navigation--options {
    padding-right: 0;
  }
}

.m-feeds-sorted__SearchBox {
  width: 100%;
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
  }

  > .mdl-textfield {
    margin: 0 0 16px;
    padding: 0;

    .mdl-textfield__input {
      outline: none;
      @include m-theme(){
         border: 1px solid themed($m-grey-50);
      }
      border-radius: 6px;
    }
  }

  .m-search-bar-suggestions-list {
    width: 100%;
    margin-top: 1px;
    border-radius: 6px;
    max-height: 50vh;
    @include m-theme(){
       box-shadow: 1px 1px 1px rgba(themed($m-black), 0.26);
    }

    .m-search-bar-suggestions-suggestion {
      padding: 16px 8px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
