.m-token--ledger {
  @media screen and (max-width: $min-tablet) {
    .m-date-selector--input {
      input {
        width: 54px;
      }
    }
  }
  .minds-dropdown-menu {
    .mdl-menu__item.selected {
      @include m-theme(){
        background: themed($m-grey-50);
      }
    }
  }
  .m-token--ledger--reward {
    padding: 16px;
    margin-bottom: 8px;
    @include m-theme(){
      background: themed($m-white);
    }

    .m-token--ledger--reward-amount {
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;

      .m-token--ledger--reward-amount--positive {
        @include m-theme(){
          color: themed($m-green-dark);
        }
      }

      .m-token--ledger--reward-amount--negative {
        @include m-theme(){
          color: themed($m-red);
        }
      }
    }

    .m-token--ledger--avatar {
      border-radius: 100%;
      width: 20px;
      height: 20px;
    }

    .m-token--ledger--direction {
      font-size: 16px;
      line-height: 1;
      margin: 0 8px;
    }

    .m-token--ledger--other-username {
      font-size: 12px;
      text-decoration: none;
      margin-left: 8px;
    }

    .m-token--ledger--reward-details {
      display: flex;
      align-items: center;

      @include m-theme(){
        color: themed($m-grey-800);
      }
      @media screen and (max-width: 860px) {
        flex-direction: column;
        align-items: flex-end;
      }

      .m-token--ledger--reward-details--meta {
        margin-right: 8px;
        padding-right: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        @include m-theme(){
           border-right: 1px solid themed($m-grey-50);
        }

        &.m-token--ledger--reward-details--meta-wrapper {
          display: inline-flex;
          align-items: center;
        }

        > * {
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;

          @include m-theme(){
            color: themed($m-grey-500);
          }
        }
      }

      > div:last-of-type {
        border-right: 0 !important;
      }

      p {
        padding: 0;
        margin: 0;
      }

      .ts {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        flex-shrink: 0;
        @include m-theme(){
          color: themed($m-grey-800);
        }
      }
    }
  }
}

.m-token--ledger-remote {
  text-align: center;
  padding: 8px 8px 24px;
  font-weight: 300;
  @include m-theme(){
    color: themed($m-grey-600);
  }
}

.m-token--ledger-filters {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  @include m-theme(){
    background: themed($m-white);
  }

  @media screen and (max-width: $min-tablet) {
    justify-content: space-around;
  }

  label.m-token--ledger-filters--label {
    text-transform: uppercase;
    letter-spacing: 0.75px;
    align-self: center;
    font-size: 12px;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }

  .m-token--ledger--date-selectors {
    display: flex;
  }

  .m-token--ledger-filters--check {
    font-size: 18px;
    vertical-align: middle;
    @include m-theme(){
      color: themed($m-grey-50);
    }
  }

  input, select {
    @include m-theme(){
       border: 1px solid themed($m-grey-100);
    }
  }

  m-date-selector {
    margin-left: 8px;
    display: flex;
  }

  .m-token--ledger-filters--addresses {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;

    .m-dropdown--list{
      left:0;
    }

    & > label {
      cursor: pointer;

      i {
        font-size: 16px;
      }
    }

    .minds-dropdown-menu {
      width: auto;
      max-width: 300px;

      .mdl-menu__item {
        display: flex;
        align-items: center;
        overflow: visible;
        font-size: 12px;

        .mdl-checkbox {
          width: initial;
        }

        > label.mdl-switch {
          width: 36px;
        }

        .m-tooltip {
          i {
            font-size: 16px;
            margin: 0 8px;
            @include m-theme(){
              color: themed($m-grey-400);
            }
          }
          .m-tooltip--bubble {
            max-width: initial;
          }
        }

      }
    }
  }

  &.m-token--ledger-filters--preview {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include m-theme(){
      color: themed($m-grey-300);
    }
  }
}
