@import "defaults";
/**
 * Override the basic layout
 */
.material-icons{
  text-rendering: optimizeLegibility;
  text-transform: none !important;


  &.m-material-icons-inline {
    vertical-align: bottom;
    font-size: 1.4em;
  }

  &.m-material-icons-inline-text {
    vertical-align: bottom;
    font-size: 1.4em;
    position: relative;
    top: -0.15em;
  }
}

.mdl-progress{
  width:100%;
}
.mdl-js-progress{
  &.failed{
    .progressbar{
      @include m-theme(){
        background: themed($m-red) !important;
      }
    }
  }
  &.complete{
    .progressbar{
      @include m-theme(){
        background: themed($m-green) !important;
      }
    }
  }
}

.mdl-card{

  z-index:initial;
  @include m-theme(){
    background-color: themed($m-white);
  }
  .mdl-card__supporting-text{
    -webkit-font-smoothing: antialiased;
  }

  &:not(.mdl-cell){
    width:auto;
    min-height:0;
  }
}

a{
  @include m-theme(){
    color: themed($m-blue-grey-700);
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img{
  text-indent: -9999px;
}


input {
  @include m-theme(){
    background-color: themed($m-white);
    color: rgba(themed($m-black), 0.87);
  }
}
// mdl-data-table ================================
.mdl-data-table {
  @include m-theme(){
    background-color: themed($m-white);
    border: 1px solid rgba(themed($m-black),.12);
  }
}

.mdl-data-table tbody tr.is-selected {
  @include m-theme(){
    background-color: themed($m-grey-50);
  }
}

.mdl-data-table tbody tr:hover {
  @include m-theme(){
    background-color: rgba(themed($m-white), 0.9);
  }
}

.mdl-data-table td {
    @include m-theme(){
       border-top: 1px solid rgba(themed($m-black), 0.12);
       border-bottom: 1px solid rgba(themed($m-black), 0.12);
    }
}

.mdl-data-table th {
  @include m-theme(){
    color: rgba(themed($m-black), 0.54);
  }
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending,.mdl-data-table th.mdl-data-table__header--sorted-descending {
  @include m-theme(){
    color: rgba(themed($m-black), 0.87);
  }
}

.mdl-data-table th.mdl-data-table__header--sorted-ascending:hover:before,.mdl-data-table th.mdl-data-table__header--sorted-descending:hover:before {
  @include m-theme(){
    color: rgba(themed($m-black), 0.26);
  }
}



.mdl-color-text--white {
  @include m-theme(){
    color: themed($m-white) !important;
  }
}
.mdl-color--white {
  @include m-theme(){
    background-color: themed($m-white) !important;
  }
}


.mdl-color-text--amber-500 {
  @include m-theme(){
    color: themed($m-amber) !important;
  }
}
.mdl-color--amber {
  @include m-theme(){
    background-color: themed($m-amber) !important;
  }
}


.mdl-color-text--red,
.mdl-color-text--red-500 {
  @include m-theme(){
    color: themed($m-red) !important;
  }
}
.mdl-color-text--red-300 {
  @include m-theme(){
    color: themed($m-red-light) !important;
  }
}
.mdl-color-text--red-900 {
  @include m-theme(){
    color: themed($m-red-dark) !important;
  }
}

.mdl-color--red,
.mdl-color--red-500,
.mdl-color--red-600 {
  @include m-theme(){
    background-color: themed($m-red) !important;
  }
}




.mdl-color-text--green,
.mdl-color-text--green-300  {
  @include m-theme(){
    color: themed($m-green) !important;
  }
}
.mdl-color--green,
.mdl-color--green-500,
.mdl-color--green-400 {
  @include m-theme(){
    background-color: themed($m-green) !important;
  }
}



.mdl-color-text--blue,
.mdl-color-text--blue-500 {
  @include m-theme(){
    color: themed($m-blue) !important;
  }
}
.mdl-color--blue-500,
.mdl-color--blue {
  @include m-theme(){
    background-color: themed($m-blue) !important;
  }
}
.mdl-color--blue-800 {
  @include m-theme(){
    background-color: themed($m-blue-dark) !important;
  }
}



.mdl-color-text--grey
 {
  @include m-theme(){
    color: themed($m-grey-300) !important;
  }
}
.mdl-color-text--grey-50
 {
  @include m-theme(){
    color: themed($m-grey-50) !important;
  }
}
.mdl-color-text--grey-400
 {
  @include m-theme(){
    color: themed($m-grey-200) !important;
  }
}
.mdl-color-text--grey-600
 {
  @include m-theme(){
    color: themed($m-grey-500) !important;
  }
}
.mdl-color-text--grey-800
 {
  @include m-theme(){
    color: themed($m-grey-800) !important;
  }
}

.mdl-color--grey-50,
.mdl-color--grey-100 {
  @include m-theme(){
    background-color: themed($m-grey-50) !important;
  }
}
.mdl-color--grey-400 {
  @include m-theme(){
    background-color: themed($m-grey-200) !important;
  }
}
.mdl-color--grey-800 {
  @include m-theme(){
    background-color: themed($m-grey-800) !important;
  }
}



.mdl-color-text--blue-grey-50
 {
  @include m-theme(){
    color: themed($m-blue-grey-50) !important;
  }
}
.mdl-color-text--blue-grey-100
 {
  @include m-theme(){
    color: themed($m-blue-grey-100) !important;
  }
}
.mdl-color-text--blue-grey-200
 {
  @include m-theme(){
    color: themed($m-blue-grey-200) !important;
  }
}
.mdl-color-text--blue-grey-300
 {
  @include m-theme(){
    color: themed($m-blue-grey-300) !important;
  }
}
.mdl-color-text--blue-grey-400
 {
  @include m-theme(){
    color: themed($m-blue-grey-400) !important;
  }
}
.mdl-color-text--blue-grey,
.mdl-color-text--blue-grey-500
 {
  @include m-theme(){
    color: themed($m-blue-grey-500) !important;
  }
}
.mdl-color-text--blue-grey-600
 {
  @include m-theme(){
    color: themed($m-blue-grey-600) !important;
  }
}
.mdl-color-text--blue-grey-700
 {
  @include m-theme(){
    color: themed($m-blue-grey-700) !important;
  }
}
.mdl-color-text--blue-grey-800
 {
  @include m-theme(){
    color: themed($m-blue-grey-800) !important;
  }
}
.mdl-color-text--blue-grey-900
 {
  @include m-theme(){
    color: themed($m-blue-grey-900) !important;
  }
}


.mdl-color--blue-grey-50
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-50) !important;
  }
}
.mdl-color--blue-grey-100
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-100) !important;
  }
}
.mdl-color--blue-grey-200
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-200) !important;
  }
}
.mdl-color--blue-grey-300
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-300) !important;
  }
}
.mdl-color--blue-grey-400
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-400) !important;
  }
}
.mdl-color--blue-grey,
.mdl-color--blue-grey-500
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-500) !important;
  }
}
.mdl-color--blue-grey-600
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-600) !important;
  }
}
.mdl-color--blue-grey-700
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-700) !important;
  }
}
.mdl-color--blue-grey-800
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-800) !important;
  }
}
.mdl-color--blue-grey-900
 {
  @include m-theme(){
    background-color: themed($m-blue-grey-900) !important;
  }
}
