// Color palette
$grey-990: #161616;
$grey-950: #222;
$grey-900: #333;
$grey-800: #444;
$grey-700: #555;
$grey-600: #666;
$grey-500: #777;
$grey-400: #888;
$grey-300: #999;
$grey-200: #aaa;
$grey-100: #ddd;
$grey-50:  #ececec;

$blue-grey-950: #171f23;
$blue-grey-900: #263238;
$blue-grey-800: #37474f;
$blue-grey-700: #455a64;
$blue-grey-600: #546e7a;
$blue-grey-500: #607d8b;
$blue-grey-400: #78909c;
$blue-grey-300: #90a4ae;
$blue-grey-200: #b0bec5;
$blue-grey-100: #cfd8dc;
$blue-grey-50:  #eceff1;

$black: #000;
$white: #fff;



$blue-dark:   #206ab9; //#0000cc #3ba0ff
$blue:        #4690df; //#417cb2 #2196f3
$blue-bright: #44aaff; //dark mode only
$blue-light:  #71aae7; //#64B5F6
$green-dark:  #388e3c; //#008000 "green"
$green:       #4caf50;
$green-light: #7ed321; //#00e676; //#66bb6a
$amber-dark:  #ffa000;
$amber:       #ffc108; //rgb(255,215,64)
$amber-light: #ffecb3; //#ffffdd
$red-dark:    #c62828; //#cc0000
$red:         #f44336; //#ff0000
$red-light:   #e57373;

// Theme maps
$themes: (
  default: (
    m-grey-950: $grey-950,
    m-grey-900: $grey-900,
    m-grey-800: $grey-800,
    m-grey-700: $grey-700,
    m-grey-600: $grey-600,
    m-grey-500: $grey-500,
    m-grey:     $grey-500,
    m-grey-400: $grey-400,
    m-grey-300: $grey-300,
    m-grey-200: $grey-200,
    m-grey-100: $grey-100,
    m-grey-50:  $grey-50,

    m-blue-grey-950: $blue-grey-950,
    m-blue-grey-900: $blue-grey-900,
    m-blue-grey-800: $blue-grey-800,
    m-blue-grey-700: $blue-grey-700,
    m-blue-grey-600: $blue-grey-600,
    m-blue-grey-500: $blue-grey-500,
    m-blue-grey:     $blue-grey-500,
    m-blue-grey-400: $blue-grey-400,
    m-blue-grey-300: $blue-grey-300,
    m-blue-grey-200: $blue-grey-200,
    m-blue-grey-100: $blue-grey-100,
    m-blue-grey-50:  $blue-grey-50,

    m-black:     $black,
    m-white:     $white,

    m-blue-dark:   $blue-dark,
    m-blue:        $blue,
    m-blue-light:  $blue-light,
    m-green-dark:  $green-dark,
    m-green:       $green,
    m-green-light: $green-light,
    m-amber-dark:  $amber-dark,
    m-amber:       $amber,
    m-amber-light: $amber-light,
    m-red-dark:    $red-dark,
    m-red:         $red,
    m-red-light:   $red-light,

    m-body-bg:  #f8f8f8,
    m-overlay:  $black,
  ),
  dark: (
    m-grey-950: $grey-50,
    m-grey-900: $grey-100,
    m-grey-800: $grey-200,
    m-grey-700: $grey-300,
    m-grey-600: $grey-400,
    m-grey-500: $grey-500,
    m-grey:     $grey-500,
    m-grey-400: $grey-600,
    m-grey-300: $grey-700,
    m-grey-200: $grey-800,
    m-grey-100: $grey-900,
    m-grey-50:  $grey-950,

    m-blue-grey-950: $blue-grey-50,
    m-blue-grey-900: $blue-grey-100,
    m-blue-grey-800: $blue-grey-200,
    m-blue-grey-700: $blue-grey-300,
    m-blue-grey-600: $blue-grey-400,
    m-blue-grey-500: $blue-grey-500,
    m-blue-grey:     $blue-grey-500,
    m-blue-grey-400: $blue-grey-600,
    m-blue-grey-300: $blue-grey-700,
    m-blue-grey-200: $blue-grey-800,
    m-blue-grey-100: $blue-grey-900,
    m-blue-grey-50:  $blue-grey-950,

    m-black:     $white,
    m-white:     $grey-990,

    m-blue-dark:   $blue-dark,
    m-blue:        $blue-bright,
    m-blue-light:  $blue-light,
    m-green-dark:  $green-dark,
    m-green:       $green,
    m-green-light: $green-light,
    m-amber-dark:  $amber-dark,
    m-amber:       $amber,
    m-amber-light: $amber-light,
    m-red-dark:    $red-dark,
    m-red:         $red,
    m-red-light:   $red-light,

    m-body-bg: #080808,
    m-overlay: $black,
  ),
);

// Enable use of vars in scss (in addition to strings)
// e.g. background-color: themed($m-grey-950)
// OR   background-color: themed('m-grey-950')
$m-grey-950: 'm-grey-950';
$m-grey-900: 'm-grey-900';
$m-grey-800: 'm-grey-800';
$m-grey-700: 'm-grey-700';
$m-grey-600: 'm-grey-600';
$m-grey-500: 'm-grey-500';
$m-grey-400: 'm-grey-400';
$m-grey-300: 'm-grey-300';
$m-grey-200: 'm-grey-200';
$m-grey-100: 'm-grey-100';
$m-grey-50:  'm-grey-50';

$m-blue-grey-950: 'm-blue-grey-950';
$m-blue-grey-900: 'm-blue-grey-900';
$m-blue-grey-800: 'm-blue-grey-800';
$m-blue-grey-700: 'm-blue-grey-700';
$m-blue-grey-600: 'm-blue-grey-600';
$m-blue-grey-500: 'm-blue-grey-500';
$m-blue-grey-400: 'm-blue-grey-400';
$m-blue-grey-300: 'm-blue-grey-300';
$m-blue-grey-200: 'm-blue-grey-200';
$m-blue-grey-100: 'm-blue-grey-100';
$m-blue-grey-50:  'm-blue-grey-50';

$m-black: 'm-black';
$m-white: 'm-white';
$m-blue:  'm-blue';
$m-green: 'm-green';
$m-amber: 'm-amber';
$m-orange:'m-orange';
$m-red:   'm-red';

$m-blue-light:  'm-blue-light';
$m-blue-dark:   'm-blue-dark';
$m-green-light: 'm-green-light';
$m-green-dark:  'm-green-dark';
$m-red-light:   'm-red-light';
$m-red-dark:    'm-red-dark';

$m-blue-dark:   'm-blue-dark';
$m-blue:        'm-blue';
$m-blue-light:  'm-blue-light';
$m-green-dark:  'm-green-dark';
$m-green:       'm-green';
$m-green-light: 'm-green-light';
$m-amber-dark:  'm-amber-dark';
$m-amber:       'm-amber';
$m-amber-light: 'm-amber-light';
$m-red-dark:    'm-red-dark';
$m-red:         'm-red';
$m-red-light:   'm-red-light';


$m-body-bg: 'm-body-bg';
$m-overlay: 'm-overlay';


// Create css selectors for themes
// Colors change when .theme__default/.theme__dark classes are toggled on body tag
@mixin m-theme() {
  @each $theme, $colors in $themes {
    body.m-theme__#{$theme} & {
      $theme-map: () !global;
      @each $color-name, $color in $colors {
        $value: map-get(map-get($themes, $theme), '#{$color-name}');
        $theme-map: map-merge($theme-map, ($color-name: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($color-name) {
  @return map-get($theme-map, $color-name);
}
