minds-admin-pages {
  @include m-theme(){
    background: themed($m-white);
  }

  .m-form {
    .m-h1-input {
      width: 100%;
      font-weight: 600;
      font-size: 42px;
      letter-spacing: 1.5px;
      font-family: 'Roboto';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    h1, h2, h3, h4 {
      font-weight: 600;
      letter-spacing: 1.5px;
      font-family: 'Roboto';
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    p {
      margin-bottom: 0.5em;
      font-weight: 400;
      font-style: normal;
      font-size: 21px;
      line-height: 1.58;
      letter-spacing: 0.5px;
      letter-spacing: -.003em;
      font-family: 'Roboto';
      margin-top: 29px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      @include m-theme(){
        color: rgba(themed($m-black), 0.84);
      }
    }
  }
  .m-button.m-button--delete {
    @include m-theme(){
      color: themed($m-red);
    }

  }
}
