.m-groupSidebarMarkers__list {
    display: block;
    margin: auto;
    max-width: 1280px;
    padding: 0;
    min-height: 100%;
    @include m-theme(){
      box-shadow: 0 2px 5px rgba(themed($m-black),0.2);
    }

  li {
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    @include m-theme(){
      border-bottom: 1px solid themed($m-grey-50);
    }

    a {
      display: block;
      padding: 8px;
      text-decoration: none;

      .m-tooltip--bubble--anchor-right {
        white-space: initial;
        width: max-content;
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      vertical-align: middle;
      @include m-theme(){
        border: 1px solid themed($m-grey-50);
      }
    }
    span {
      font-size: 11px;
      vertical-align: middle;
      display: none;
    }
  }

  .has-gathering::before {
    position: absolute;
    display: block;
    //top: 0;
    //left: 0;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    margin: 2px;
    //margin: -15% -15%;
    border-radius: 50%;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.5, 0.355, 1) infinite;
    content: "";
    @include m-theme(){
      background-color: themed($m-blue); //two background colors?
      background-color: themed($m-red);
    }
  }

    @keyframes pulse-ring {
      0% {
        transform: scale(.33);
      }
      40% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }

  .has-marker::after {
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    @include m-theme(){
      background: themed($m-blue);
    }
  }

  .m-tooltip--bubble--anchor-right {
    margin-top: -36px;
    margin-right: 40px;
    text-align: right;
    width: auto;
    max-width: 200px;
    white-space: nowrap;
  }
}
