m-wallet-token--testnet {
  p {
    font-size: 16px;
  }

  .m-wallet-token--testnet--spinner {
    display: flex;
    align-items: center;
  }

  .m-wallet-token--testnet--instructions {
    padding: 16px;
    box-sizing: border-box;
    @include m-theme(){
      background: themed($m-white);
    }
  }

  .m-wallet-token--testnet--note {
    padding: 16px;
    box-sizing: border-box;
    @include m-theme(){
      background: themed($m-white);
    }
  }

  .m-wallet-token--testnet--form {
    align-items: center;

    label {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.75px;
    }

    > div {
      margin-right: 8px;
    }
  }

  .m-error {
    margin-top: 24px;
    @include m-theme(){
      color: themed($m-red);
    }
  }
}
