@import "defaults";

m-helpdesk--questions {


  & > .m-page {
    max-width: 1280px;
    margin: auto;
    & > .m-page--sidebar {
    //  width: 400px;
    }

    @media screen and (max-width: $max-mobile) {
      height: auto;
      flex-direction: column-reverse;
    }
  }

  .m-page--main {
    margin-top: -100px;
  }

  .m-helpdeskRelatedPosts__list {
    padding-top: 2 * $minds-padding;
    margin: 0;

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin: 0 8px 8px;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }
  }

  .m-helpdeskQuestions__question {
    padding: $minds-padding * 3;
    position: relative;
  }

  h1 {
    line-height: 1;
    font-size: 36px;
    margin-bottom: $minds-padding * 2;
    margin-top: $minds-padding * 2;
    font-weight: 600;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }

  .m-helpdeskQuestions__adminContainer {
    position: absolute;
    top: $minds-padding * 2;
    right: $minds-padding * 2;

    .m-helpdeskQuestions__editIcon,
    .m-helpdeskQuestions__deleteIcon {
      padding: $minds-padding;
    }
  }

  p.m-helpdeskQuestions__answer {
    font-size: 16px;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }


  .m-helpdeskQuestions__goBack {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 8px;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }

  .m-helpdeskQuestions__input {
    margin-bottom: 8px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    & > i.material-icons {
      width: 60px;
      position: absolute;
      left: 6px;
      border: none;
      font-size: 24px;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }
    & > input {
      font-size: 13px;
      flex-grow: 1;
      padding: 16px 16px 16px 36px;
      @include m-theme(){
        border-color: themed($m-grey-50);
        color: themed($m-grey-800);
        background: themed($m-white);
      }
    }
  }

  .m-helpdesk--search-autocomplete--results {
    position: relative;
    width: 30em;
    max-width: 90%;
    max-height: 300px;
    font-size: 16px;
    border-radius: 3px;
    padding: $minds-padding;
    margin-top: $minds-padding * 1.5;
    overflow-y: auto;
    box-sizing: border-box;
    @include m-theme(){
      background: rgba(themed($m-black), 0.15);
    }

    &:after {
      bottom: 100%;
      left: 95%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 8px;
      margin-left: -8px;
      @include m-theme(){
        border-color: rgba(themed($m-grey-600), 0);
        border-bottom-color: themed($m-white);
      }
    }

    .m-helpdesk--search-autocomplete--result {
      padding: $minds-padding / 2;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover, &.m-helpdesk--search-autocomplete--result-highlight {
        font-weight: 400;
        @include m-theme(){
          background: themed($m-white);
          color: themed($m-black);
        }
      }

      .m-helpdesk--search-autocomplete--result-content .material-icons {
        vertical-align: middle;
      }
    }
  }

  .m-helpdeskQuestions__bigItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    cursor: pointer;
    padding: $minds-padding * 2;
    @include m-theme(){
      background: themed($m-white);
    }

    img {
      width: 64px;
    }

    .m-helpdeskQuestionsBigItem__text {
      padding-left: $minds-padding * 2;
      max-width: 430px;

      .m-helpdeskQuestionsBigItem__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: $minds-margin;
      }

      .m-helpdeskQuestionsBigItem__subtext {
        font-size: 13px;
        line-height: 1.25;
        padding: 0;
        margin: 0;
        @include m-theme(){
          color: themed($m-grey-400);
        }
      }
    }

  }

  .medium-insert-embeds {
    width: 100%;
    margin: 0;
  }
  .m-blog--image {
    img {
      width: 50%;
    }
  }
}

.m-helpdeskQuestions__question {
  //background: themed($m-white);
  padding: $minds-padding;
}

.m-helpdeskQuestions__question--full {
  @include m-theme(){
    background: themed($m-white);
  }
}

@media screen and(max-width: $max-mobile) {
  .m-helpdeskQuestions__questions {
    margin-left: 0;
    margin-top: 36px;
  }
}

.m-helpdeskQuestions__questions, .m-helpdeskQuestions__categories {
  text-align: left;
  position: relative;
  @include m-theme(){
    background: themed($m-white);
  }

  ul, li {
    margin: auto;
    padding: 0;
    list-style: none;
    @include m-theme(){
      border-top: 1px solid themed($m-grey-50);
    }

    .m-helpdeskQuestions__editIcon {
      position: absolute;
      top: $minds-padding * 2;
      right: $minds-padding * 2;
    }

    &:nth-of-type(1) {
      border-top: 0;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 1.25;
    margin: 0;
    font-weight: bold;
    padding: $minds-padding * 2;
    padding-bottom: 8px;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }

  .m-helpdeskQuestions__question a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $minds-padding $minds-padding * 2;
    padding-top: $minds-padding;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    @include m-theme(){
      color: themed($m-grey-700);
    }

    &:hover {
      @include m-theme(){
        background-color: themed($m-grey-50);
      }
    }
  }
}

.m-helpdeskQuestions__feedback {
  div {
    display: inline-block;
    cursor: pointer;
    padding: $minds-padding;
    i.material-icons {
      font-size: 24px;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }
}

.m-helpDesk__hero {
  background-image: url('assets/photos/balloon.jpg');
  background-position: center -100px;
  background-size: cover;
  height: 250px;
}
