m-faq--page {
  //background: themed($m-white);
  width: 100%;
  min-height: 100%;
  display: block;
}
.m-faq--page {
  max-width: 1280px;
  margin: auto;
  padding: 16px;

  h2 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-bottom: 16px;
    font-weight: 600;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }
}
