@import "defaults";

.minds-boost-points-wrapper{
  display:flex;
  justify-content: center;
  padding:0;
  margin:0;

  @media screen and (max-width: 400px){
    flex-wrap:wrap;
  }

  .minds-boost-points-input{
    display:flex;
    align-items:center;
    padding:0;
    margin:0;
    flex: 1;

    > div{
      padding: $minds-padding;
    }
    > div:nth-of-type(1){
      flex:3;
    }
    > div:nth-of-type(2){
      flex:1;
    }

    input{
      border: 0;
      border-radius: 0;
      font-size: 16px;
      height: auto;
      /* font-weight: 700; */
      text-align: right;
      padding: 16px;
      width: 100%;
      @include m-theme(){
        background: themed($m-white);
        -webkit-box-shadow: inset 0 0 3px themed($m-grey-400);
        box-shadow: inset 0 0 3px themed($m-grey-400);
      }
    }
    input:disabled{
      @include m-theme(){
        background: themed($m-grey-50);
      }

    }
    label {
      font-weight: 200;
      font-size: 22px;
    }
  }
  .minds-boost-points-input:nth-of-type(1){
    padding-right:$minds-padding *2;
  }
}

.m-boost-console-link{
  &, a{
    text-decoration:none;
    text-transform:uppercase;
  }
  margin-bottom: $minds-margin;

}

.m-boost-button-fat{
  @include m-theme(){
    background: themed($m-blue) !important;
  }

}
