.m-affiliate--marketing-header{
  background: url('<%= APP_CDN %>/assets/photos/balloon.jpg');
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 224px 36px;
  box-sizing: border-box;

  h1, h3{
    font-family: 'Roboto';
    @include m-theme(){
      text-shadow: 0 0 3px themed($m-grey-900);
      color: themed($m-white);
    }
  }

  h1{
    word-spacing: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;

  }
  h3{
    letter-spacing: 2px;
    word-spacing:3px;
    font-weight:300;
  }

  .m-affiliate--marketing-link{
    input{
      padding:16px;
      font-size:22px;
      border:0;
      border-radius: 3px;
      max-width:825px;
      width:100%;
      display: block;
      margin: 8px auto;
      text-align: center;
      letter-spacing: 1.5px;
      cursor: pointer;
      @include m-theme(){
        color:themed($m-grey-900);
        background-color: rgba(themed($m-white), 0.5);
      }
    }
    span{
      padding:8px;
      letter-spacing:1px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }

  .m-affiliate--marketing-action-button{
    margin-bottom: -80px;
    margin-top: 32px;
    button{
      letter-spacing: 3px;
      font-size: 18px;
      line-height: 35px;
      height: 53px;
      padding: 0 24px;
      font-weight: 300;
      font-family: 'Roboto';
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }
}

.m-affiliate--marketing-contents{
  max-width:990px;
  padding:64px 0 !important;

  .mdl-cell{
    padding: 32px 16px;
    text-align: center;

    i{
      font-size: 64px;
    }
    h2{
      padding: 0;
      margin: 24px 0;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 38px;
    }
    span{
      font-family: 'Roboto';
      letter-spacing: 1px;
    }
  }
}

.m-affiliate--marketing-onboarding{
  margin: -115px auto 0;
  display: block;
  position: relative;
  max-width: 990px;
  @include m-theme(){
    background: themed($m-white);
  }

  > p{
    padding: 16px 16px 0 32px;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  form{
    padding: 16px;
  }
}

.m-affiliate--marketing-faq {
  max-width:900px;
  margin: auto;
  font-family: 'Roboto';

}

.m-affiliate--marketing m-affiliate--terms{
  max-width: 600px;
  margin: 16px auto;
  display: block;
  padding: 16px;
  max-height: 600px;
  overflow: scroll;
  @include m-theme(){
    background: themed($m-white);
  }
}
