.m-groups--tile{
  padding: 0;
  position: relative;
  @include m-theme(){
    background: themed($m-white);
  }

  .m-groups--tile-banner{
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 1;
    @include m-theme(){
      background: themed($m-grey-800);
    }

    .m-groups--tile-banner-img {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  .m-groups--tile-block {
    margin-top: 75px;
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    text-decoration: none;

    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      margin: 16px 0 8px 0;
      padding: 0 16px;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }
    span {
      text-transform: uppercase;
      font-family: Roboto;
      letter-spacing: 0.25px;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @include m-theme(){
      border: 1px solid themed($m-grey-50);
    }

  }

  .m-groups--tile-buttons {
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > * {
      margin: 0 4px;
    }
  }


}

.m-groupTile--hasUpdates .body span {
  position: relative;

  &:after {
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    content: "";
    position: absolute;
    top: -2px;
    right: -12px;
    @include m-theme(){
      background: themed($m-blue);
    }
  }
}
