m-user-menu {
  display: inline-block;
  position: relative;
}

.m-user-menu__Anchor {
  cursor: pointer;
}

.m-user-menu__Dropdown {
  list-style: none;
  margin: 34px 0 0;
  @include m-theme(){
    background: themed($m-white);
  }
}
