.m-boost-publisher--earnings{
  padding: 16px;
  @include m-theme(){
    background: themed($m-white);
  }
}

.m-boost-publisher--earnings--ledger {
  margin-top: 8px;
}

.m-boost-publisher--earnings-overview {
  display: flex;

  .m-boost-publisher--earnings-overview--total {
    flex: 1;
    text-align: center;
    @include m-theme(){
      color: themed($m-grey-800);
    }
    > span {
      font-size: 56px;
      line-height: 56px;
      font-weight: 600;
    }

    .m-boost-publisher--earnings-overview--label {
      text-transform: uppercase;
      @include m-theme(){
        color: themed($m-grey-600);
      }

      label, m-tooltip {
        vertical-align: middle;
      }
      m-tooltip i {
        font-size: 11px;
      }
    }
  }
}
