@import 'defaults.scss';

m-messenger--channel-button{

  > button{

    cursor:pointer;
    background: transparent;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 4px 8px;
    min-width: 128px;
    @include m-theme(){
      border: 1px solid themed($m-blue-grey-400);
      color: themed($m-blue-grey-400);
    }

    > i, &.material-icons {
      padding-right: $minds-padding;
      padding-bottom: 1px;
      vertical-align:middle;
    }
  }
}
