.m-media--images--list{
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  flex-flow: row wrap;
  //background: themed($m-white);
  max-width: 1280px;
  margin: auto;

  m-media--images--tile {
    //flex: auto;
    margin: 2px;
    flex-basis: calc(25% - 4px);

    //1:1 ration default (square)
    max-width: calc(25% - 4px);
    max-height: 316px;
    overflow: hidden;

    @media screen and (max-width: 990px){
      flex-basis: calc(33% - 4px);
      max-width: calc(33% - 4px);
      max-height: 280px;
    }

    @media screen and (max-width: 720px){
      flex-basis: calc(50% - 4px);
      max-width: calc(50% - 4px);
      max-heigh: 225px;
    }

    @media screen and (max-width: 500px){
      flex-basis: calc(100% - 4px);
      max-width: calc(100% - 4px);
    }

  }
}
