.m-media--images--tile {
  position: relative;

  //padding: 4px;

  a {

    background-position: center center;
    background-size: cover;

    display: block;

    //1:1 ratio (square)
    height: 320px;
    width: 100%;
    @include m-theme(){
      background-color: themed($m-grey-800);
    }
  }

  m-safe-toggle {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  > i.material-icons {
    display: none;
  }

  &.m-tile-mature-thumbnail {
    transform-style: preserve-3d;
    @include m-theme(){
      background: rgba(themed($m-black), 0.65);
    }

    > a {
      filter: blur(5px) grayscale(100%);
      transform: translate3d(0, 0, 0);
      opacity: 0.65;
    }

    > i.material-icons {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em;
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }
}
