.m-canary__page {

  .m-marketing--hero {
    padding: 24px 0 !important;
    background-image: url(/assets/photos/canary.jpg);
    background-position: center right;
    background-size: cover;
  }

  .m-marketing--hero--video img {
    width: 100%;
  }

  .m-marketing--section--subsection--first .m-marketing--section--subsection-container {
    padding-top: 32px !important;
  }

  .m-marketing--hero--actions img {
    max-height: 250px;
  }

  @media screen and (max-width: 662px) {
    .m-marketing--hero--actions {
      flex-basis: 100% !important;
      margin-top: 16px;
    }
  }

  @media screen and (min-width: 500px) {
    .m-marketing--hero--slogans h2 {
      font-size: 62px !important;
      line-height: 1.25;
    }
  }

  .m-canaryExperiments__list {
    padding-left: 24px;

    li {
      font-size: 16px;
      line-height: 2.5;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

}

.m-canaryPage__buttons {
  padding: 16px 0;

  .m-btn {
    @include m-theme(){
      color: themed($m-white);
    }
  }
}
