m-switch {
  display: inline-block;

  > label {
    position: relative;
    display: inline-block;
    user-select: none;
    font-size: 0.875em;
    line-height: 1;
  }

  .m-switch__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    appearance: none;
  }

  .m-switch__track {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 10px;
    border-radius: 8px;
    transition: border-color 0.15s ease-out;
    @include m-theme(){
       border: 1px solid themed($m-grey-100);
    }

    .m-switch__thumb {
      position: absolute;
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      transform: translate(-100%, -50%); // -4px
      top: 50%;
      left: calc(50% - 2px); // exact center
      transition: transform 0.15s ease-out, background 0.15s ease-out;
      @include m-theme(){
         background: themed($m-grey-100);
      }
    }
  }

  .m-switch--enabled.m-switch--toggled .m-switch__track {
    @include m-theme(){
       border-color: themed($m-blue);
    }

    .m-switch__thumb {
      @include m-theme(){
         background: themed($m-blue);
      }
    }
  }

  .m-switch--toggled .m-switch__track .m-switch__thumb {
    transform: translate(100%, -50%); // +4px
  }

  .m-switch__label {
    vertical-align: middle;
    position: relative;
    top: 1px; // track border

    &.m-switch__label--left {
      margin-right: 0.35em;
    }

    &.m-switch__label--right {
      margin-left: 0.35em;
    }
  }

  .m-switch--enabled {
    .m-switch__track, .m-switch__label {
      cursor: pointer;
    }
  }
}
