.m-token-contributions--chart {
  padding: 16px;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  @include m-theme(){
    background: themed($m-white);
  }

  @media screen and (max-width: 1105px) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  @media screen and (max-width: 413px) {
    justify-items: center;
  }

  .m-token-contributions--chart--contribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16;

    i.material-icons {
      font-size: 42px;
      @include m-theme(){
        color: themed($m-blue-grey-600);
      }
    }

    svg {
      width: 60px;
      height: 60px;
      @include m-theme(){
        color: themed($m-blue-grey-600);
      }
    }

    .m-token-contributions--chart--contribution-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 16px;

      & > span:first-child {
        font-size: 16px;
      }

      & > span:last-child {
        @include m-theme(){
          color: themed($m-green);
        }
        font-size: 14px;
        font-weight: 800;
      }
    }
  }

}
