.m-token-contributions--ledger{
  table {
    width: 100%;

    tbody > tr {
      cursor: pointer;
    }
  }
}

.m-token-contributions--ledger-filters {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 8px;
  @include m-theme(){
    background: themed($m-white);
  }

  m-date-selector {
    margin-left: 8px;
    display: flex;
  }
}

.m-token-contributions--ledger-row-notice {
  text-align: center !important;
}

.m-token-contributions--ledger-category-detail {
  text-transform: capitalize;
  @include m-theme(){
    color: themed($m-white);
    background: themed($m-grey-600);
  }

}

.m-token-contribution--selected {
  font-weight: bold;
  @include m-theme(){
    color: themed($m-white);
    background: themed($m-grey-800);
  }
}
