.m-token-contributions--overview {
  padding: 16px;
  margin-bottom: 8px;
  @include m-theme(){
    background: themed($m-white);
  }

  .m-token-contributions--overview--columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 12px 32px 0;
  }

  .m-token-contributions--overview--column {
    flex-grow: 1;
    flex-basis: 0;

    &.m-token-contributions--overview--avatar-column {
      text-align: center;

      minds-avatar {
        width: 72px;
        height: 72px;
        display: inline-block;

        .minds-avatar {
          background-repeat: no-repeat;
          background-size: cover;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          @include m-theme(){
             border: 2px solid themed($m-grey-50);
          }
        }
      }
    }
  }

  .m-token-contributions--overview--row {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 16px;
    @include m-theme(){
      color: themed($m-green);
    }

    span {
      width: 15em;
      @include m-theme(){
        color: themed($m-grey-900);
      }
    }
  }
}
