@import "defaults";

.m-branding {
  .m-marketing--header {
    @include m-theme(){
      background: themed($m-white);
    }
  }
  .m-marketing--header-inner {
    text-align: center;

    h1 {
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }
    h3 {
      padding-right: 0;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

  .m-marketing--contents {
    text-align: center;
    img {
      max-height: 156px;
      @media only screen and (max-width: 460px) {
        max-width: 332px;
      }
    }
    label {
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      margin: 56px 0;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

}
