@import "./src/stylesheets/defaults.scss";

.m-issues__report {
  display: block;
  width: 100%;
  padding: 16px 0;

  .m-issuesReport__container {
    margin: 0 auto;
    max-width: 600px;
    margin: auto;
    padding: 16px;
    @include m-theme(){
      background: themed($m-white);
    }

    h2 {
      margin: 0;
      margin-bottom: 16px;
      font-weight: 600;
      @include m-theme(){
        color: themed($m-grey-700);
      }
    }

    p {
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }
    .mdl-textfield {
        width: 600px;
    }

    textarea {
        min-height: 100px;
    }
}
